@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind reusing class */
@layer components {
	.flex-between-center {
		@apply flex justify-between items-center;
	}

	.flex-center-all {
		@apply flex justify-center items-center;
	}

	.container {
		@apply max-w-[1200px] mx-auto;
	}

	.border-solid-1 {
		@apply border-solid border-[1px];
	}
}

@layer base {
	html,
	body {
		@apply text-dark;
	}
	button:not(:where([data-attribute="button-icon"], .Toastify__close-button)),
	.anchor {
		@apply text-white bg-gradient-to-r from-[#F46B45] to-[#EEA849] font-bold px-9 py-3 rounded-25 hover:opacity-90 hover:shadow-sm transition-all duration-200 ease-linear;
	}

	button.active {
		@apply border-1 border-solid border-primary !text-primary shadow-md;
	}

	input {
		@apply rounded-25 border-solid border-1 border-darkGray w-full text-sm focus-visible:outline-darkGray focus-visible:shadow-sm;
	}
}

html,
body {
	font-family: "Poppins", sans-serif;
}

iframe {
	border-radius: 25px;
}

.tag img {
	border-radius: 5px;
}
